@media only screen and (min-width: 576px) and (max-width: 768px) {
#header .container {
	padding-top: 10px;
	margin-bottom: 10px;
} 
.logo img {
	width: 50px;
	padding-right: 10px;
	}
.logo {
	padding-top: 10px;
	font-size: 25px;
	text-align: center;
}
.menu-btn {
	display: none;
}
#row-bar {
	justify-content: center;
	font-size: 14px;
}
#menu-checkbox {
	display: none;
}
#header ul {
	display: flex;
}
#row-bar a {
	color: #212121;
}
#header ul > li > a {
	display: inline;
	padding: 0 10px;
	text-decoration: none;
}
#header ul > li {
list-style-type: none;
}
.btn-group {
	margin-top: 12px;
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.first-but {
	padding: 5px 30px;
	border-radius: 35px;
}
.second-but {
	padding: 5px 25px;
	border-radius: 35px;
}
.border-row {
	font-size: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}
#carousel {
	text-shadow: #525252 1px 1px 0;
	word-spacing: 5px;
	padding-top: 0;
}
.owl-nav button.owl-next {
	right: 0;
	top: -8px;
}
.owl-nav button.owl-prev {
	left: 0;
	top: -8px;
}
#prev-course {
	padding: 20px 0;
	text-align: center;
}
#prev-course img {
	height: 70px;
}
.row-prev-course {
	margin-top: 20px;
}
.row-prev-course h3 {
	padding-top: 15px;
	font-size: 20px;
}
.arrow {
  margin: 30px;
}
.arrow img {
  display: block;
  height: 70px;
  margin: -16px;
  animation: arrow 5s infinite;
}
.arrow img:nth-child(2){
  animation-delay: -0.4s;
}
.arrow img:nth-child(3){
  animation-delay: -0.8s;
}
@keyframes arrow {
  0%{
  opacity: 0;
  transform: rotate(0deg) translate(-40px,-20px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(0deg) translate(100px,40px);
  }
}
#course {
	padding: 0;
	margin: 10px 0;
}
#course h3 {
	font-size: 20px;
	font-weight: bold;
	padding: 25px 0;
	margin: 0;
}
.row-course {
	border-bottom: border-bottom: 2px solid #525252;
}
#team img {
	width: 160px;
	height: 110px;
}
.new-text {
	font-size: 28px;
	word-spacing: 8px;
	color: #a1a1a1;
	text-shadow: black 2px 1px 0;
}
.text {
	font-size: 18px;
	color: #c5c5c5;
	text-shadow: black 2px 1px 0;
}
.name {
	font-size: 13px;
	margin-top: 5px;
	margin: 0;
}
.prof {
	font-size: 12px;
	margin-top: 5px;
	margin: 0;
}
#first {
	width: 80%;
	position: relative;
	left: 20%;
}
#second {
	margin-top: 10px;
	width: 80%
}
.review-blockquote {
	font-size: 14px;
} 
.blockquote-inside {
	padding-top: 8%;
	font-size: 14px;
}
.row-top {
	margin-top: 30px;
}
#triangle {
	width: 90%;
	margin: 5% 0; 
	margin-left: 10px;
}
#border {
	margin: 15px 15px;
}
#border p {
	font-size: 14px;
	padding: 20px 0;
	padding-left: 20px;
}
.color-review {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 0;
}
#photo-cat {
	width: 100%;
	margin-top: 50px;
}
.footer-map {
	padding-top: 20px;
	font-size: 20px;
	margin-bottom: 20px;
}
#footer h4 {
	font-size: 18px;
}
#image-footer p:not(.contact) {
	padding: 0;
	padding-top: 10px;
	font-size: 16px;
}
iframe {
	width: 90%;
	height: 300px;
	margin-bottom: 20px;
	margin-right: 15px;
}
.but-footer {
	padding: 10px 15px;
	font-size: 12px;
	top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
}
#image-footer .footer-map {
	padding-top: 30px;
}
.p-text {
	font-size: 12px;
}
.contact {
	font-size: 14px;
	padding-top: 5px;
}	
}
